<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button
    class="btn btn-info btn-sm mr-2"
    id="dropdownManual"
    ngbDropdownAnchor
    (focus)="myDrop.open()"
  >
    <i class="fas fa-cog"></i> Recipe Settings
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <button
      class="dropdown-item"
      (click)="onAddToShoppingList()"
      style="cursor: pointer;"
    >
      Add Ingredients to Shopping List
    </button>
    <button
      class="dropdown-item"
      style="cursor: pointer;"
      (click)="onEditRecipe()"
    >
      Edit Recipe
    </button>
    <button
      class="dropdown-item"
      style="cursor: pointer;"
      (click)="onDeleteRecipe()"
    >
      Delete Recipe
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="text-center">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive p-5"
        style="max-height: 300px"
      />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1 class="text-center">{{ recipe.name }}</h1>
    <p class="text-center">{{ recipe.desc }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
